@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.blog-content p {
  font-size: 18px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

.blog-content h1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
}
.blog-content h2 {
  font-size: 33px;
  margin-bottom: 10px;
}
.blog-content h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.blog-content h4 {
  font-size: 26px;
  margin-bottom: 10px;
}
.blog-content h5 {
  font-size: 23px;
  margin-bottom: 10px;
}
.blog-content h6 {
  font-size: 20px;
  margin-bottom: 10px;
}
